body {
    font-weight: 400;
    font-size: 18px;
}

.header {
    position: absolute;
    width: 100%;
    top: 20px;
}

.header ul {
    font-size: 20px;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.header .list-inline-item:not(:last-child) {
    margin-right: 2rem;
}

.header .text {
    position: relative;
    top: 12rem;
    font-family: 'Roboto', sans-serif;
}

.header .text h1 {
    font-size: 56px;
}

.banner img {
    height: 100vh;
}
