body {
  font-weight: 400;
  font-size: 18px;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
}

.header {
  height: 0;
  padding-bottom: 53%;
  background: none no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/images/beetech-logomockup.png);
}

.site-menu {
  display: block;
  width: 100%;
}

.site-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation: ctFadeInDown 600ms ease-in-out;
  -moz-animation: ctFadeInDown 600ms ease-in-out;
  -ms-animation: ctFadeInDown 600ms ease-in-out;
  animation: ctFadeInDown 600ms ease-in-out;
  background-color: white;
  z-index: 9999;
}

@-webkit-keyframes ctFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.site-menu.fixed img {
  width: 170px;
}

.site-menu.fixed ul {
  margin-top: 0;
}

.site-menu.fixed .list-inline-item a {
  color: #000000 !important;
}

.header ul {
  font-size: 20px;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
}

.site-menu .hamburger {
  display: none;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background: #FFFFFF;
}

.site-menu .hamburger .bar {
  display: block;
  width: 24px;
  height: 5px;
  margin: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 4px;
  background-color: #FF6E2E;
}

.header ul a {
  font-family: "Poppins";
  font-weight: 400;
}

.header .list-inline-item:not(:last-child) {
  margin-right: 2rem;
}

.header .text {
  position: relative;
  top: 12rem;
  font-family: "Roboto", sans-serif;
}

.header ul a {
  color: white;
}

.header .text h1 {
  font-size: 56px;
}

.about-us,
.our-journey {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us .title h2,
.our-journey .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #4d4d4d;
}

.about-us .title h1,
.our-journey .title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ff6e2e;
  margin-top: 15px;
}

.about-us .title p {
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-top: 20px;
  max-width: 602px;
}

.our-journey .time-line {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.t-left .t-content {
  position: absolute;
  top: 25px;
}

.t-right .t-content {
  position: absolute;
  top: 25px;
  right: 0;
  justify-content: end;
}

.t-left {
  left: 0;
  position: relative;
  width: 50%;
}

.t-left .background {
  height: 100px;
  background-color: #FFEDE5;
  margin-right: -45px;
}

.t-right .background {
  height: 100px;
  background-color: #FFEDE5;
  margin-left: -45px;
}

.t-right {
  left: 50%;
  position: relative;
  width: 50%;
}

.time-line::after {
  content: '';
  position: absolute;
  width: 7px;
  background-color: #FF6E2E;
  top: 0;
  bottom: 0;
  left: 50%;
}

.time-line .t-circle::before {
  content: "";
  background: #FF6E2E;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 27px;
  height: 27px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: -7px;
  z-index: 1;
}

.time-line .t-circle::after {
  content: "";
  background: #FF6E2E;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 27px;
  height: 27px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 3px;
  margin-bottom: -7px;
  z-index: 1;
}

.time-line .t-left::before {
  content: "";
  background: #4D4D4D;
  position: absolute;
  top: 45px;
  right: 0;
  width: 44px;
  height: 4px;
}

.time-line .t-left::after {
  content: "";
  background: #4D4D4D;
  position: absolute;
  top: 42px;
  right: 30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.time-line .t-right::before {
  content: "";
  background: #4D4D4D;
  position: absolute;
  top: 45px;
  left: 0;
  width: 44px;
  height: 4px;
}

.time-line .t-right::after {
  content: "";
  background: #4D4D4D;
  position: absolute;
  top: 42px;
  left: 45px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.our-journey .time-left:first-child {
  margin-top: 70px;
}

.our-journey .t-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 460px;
}

.t-left .t-content p {
  text-align: right;
  margin-right: 30px;
}

.t-right .t-content p {
  text-align: left;
  margin-left: 30px;
}

.our-journey .t-content h4 {
  font-weight: 600;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #FF6E2E;
  max-width: 70px;
  border-top: 7px solid #FF6E2E;
}

.who-were-are {
  padding-top: 80px;
  padding-bottom: 80px;
}

.who-were-are h3,
.how-were-work .left h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ff6e2e;
}

.who-were-are p,
.how-were-work .left p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.who-were-are h4,
.how-were-work .left h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #4d4d4d;
  line-height: 40px;
}

.who-were-are .left,
.how-were-work .left {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  width: 85%;
}

.who-were-are .button {
  display: block;
}

.how-were-work .button {
  display: block;
}

.who-were-are .button a,
.how-were-work .button a {
  display: flex;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.who-were-are .button a:hover,
.how-were-work .button a:hover {
  text-decoration: none;
}

.who-were-are .button span,
.how-were-work .button span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}

.how-were-work {
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.how-were-work::before {
  content: url('/assets/images/vector.png');
  position: relative;
  left: 47%;
  top: 15rem;
}

.how-were-work .right h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.how-were-work .right p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.how-were-work .right img {
  margin-left: 30px;
  height: 100%;
}

.how-were-work .right .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-service {
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-service .title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ff6e2e;
}

.our-service .title p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.our-service .card-group {
  margin-top: 80px;
}

.our-service .card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ff6e2e;
}

.our-service .card-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: .75rem;
}

.our-service .card-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

footer {
  background-color: #07090d;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  color: #818a9c;
}

footer .row {
  align-items: center;
  justify-content: center;
}

footer .row img {
  padding-right: 0;
  max-width: 20%;
}

footer .row .content {
  max-width: 60%;
  padding-left: 32px;
  margin-left: 32px;
  border-left: 1px solid #818A9C;
}

footer .row .content h4 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 6px;
}

footer .row .content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 6px;
}

@media screen and (max-width: 1200px) {
  .header {
    min-height: 500px;
    background-position: center;
    background-size: cover;
  }

  .header .text {
    top: 50px;
  }

  .who-were-are br,
  .how-were-work br {
    display: none;
  }

  .how-were-work .right img {
    margin-left: 0;
  }

  .our-service .card-title {
    font-size: 24px;
  }

  .how-were-work .right p {
    margin-top: 0;
  }

  .our-journey .t-content p {
    font-size: 14px;
  }

  .our-journey .t-content h4 {
    font-size: 28px;
  }

  .t-left,
  .t-right {
    width: 100%;
  }

  .t-right {
    left: 0%;
  }

  .time-line::after {
    left: 0%;
  }

  .time-line .t-circle::before {
    left: 0%;
  }

  .time-line .t-circle::after {
    left: 0%;
  }

  .t-right .background,
  .t-left .background {
    margin-left: 0;
    margin-right: 0;
  }

  .t-right .t-content {
    right: unset;
  }

  .time-line .t-left::before {
    right: unset;
  }

  .time-line .t-left::after {
    right: unset;
    left: 47px;
  }

  .t-left .t-content {
    flex-direction: row-reverse;
  }

  .t-left .t-content p,
  .t-right .t-content p {
    padding: 0;
    margin-right: 0;
    max-width: 100%;
    margin-left: 30px;
    text-align: left;
  }

  .t-content {
    left: 70px;
  }

  .our-journey .time-line {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 992px) {

  .about-us,
  .our-journey {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .who-were-are,
  .how-were-work,
  .our-service {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header .list-inline-item {
    font-size: 18px;
  }

  .header .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .header .text h1 {
    font-size: 46px;
  }

  .header .text br {
    display: none;
  }

  .how-were-work .right p {
    font-size: 14px;
    margin-top: 0;
  }

  .how-were-work .right h3 {
    font-size: 18px;
  }

  .who-were-are h3,
  .how-were-work .left h3,
  .about-us .title h1,
  .our-journey .title h1,
  .our-service .title h1 {
    font-size: 36px;
  }

  .about-us .title h2,
  .our-journey .title h2,
  .who-were-are h4,
  .how-were-work .left h4 {
    font-size: 22px;
  }

  .who-were-are p,
  .how-were-work .left p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 960px;
  }

  .header .text h1 {
    font-size: 36px;
  }

  .who-were-are .row .w-100,
  .how-were-work .row .right {
    margin-top: 30px;
  }

  .who-were-are .left,
  .how-were-work .left {
    padding: 0 5px;
    width: 100%;
  }

  .how-were-work::before {
    top: 28rem;
  }

  .our-journey .t-content h4 {
    font-size: 22px;
    border-top: 5px solid #FF6E2E;
  }

  .t-content {
    left: 50px;
  }

  .time-line .t-left::before,
  .time-line .t-right::before {
    width: 30px;
  }

  .time-line .t-left::after,
  .time-line .t-right::after {
    left: 33px;
  }
}


.feature-work {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature-work .owl-carousel {
  margin-top: 53px;
}

.title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  font-size: 48px;
  color: #ff6e2e;
}

.feature-work .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.feature-work .owl-carousel .owl-stage-outer .owl-stage {
  position: relative;
}

.feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  height: 500px;
}

.feature-work .owl-carousel .owl-item img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #ff6e2e;
  position: absolute;
  display: flex;
  height: 100%;
  align-items: flex-end;
  margin: 0px;
  padding: 20px;
  z-index: 1000;
}

.feature-work .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 43%;
  left: 10px;
}

.feature-work .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 43%;
  right: 10px;
}

.feature-work .owl-carousel .owl-nav button.owl-prev {
  background: none;
  border: none;
  opacity: 1;
}

.feature-work .owl-carousel .owl-nav button.owl-next {
  background: none;
  border: none;
  opacity: 1;
}

.founder {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #ffffff;
}

.founder .row .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.founder .row .right h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #4d4d4d;
}

.founder .row .right h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #ff6e2e;
}

.founder .row .right p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
}

.founder .row .right .list-group li {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.our-team {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-team .title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #4d4d4d;
}

.our-team .owl-carousel {
  margin-top: 60px;
}

.our-team .owl-carousel .owl-stage p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 16px;
  color: #4d4d4d;
}

.our-team .owl-carousel .owl-stage .owl-item .card {
  border: none;
}

.our-team .owl-carousel .owl-item img {
  height: 100%;
  object-fit: cover;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-footer {
  border: none;
  background: none;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-body h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #4d4d4d;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-body .card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0px;
  color: #4d4d4d;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-body p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 16px;
  color: #4d4d4d;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-body {
  display: grid;
  grid-template-rows: 50px 80px 150px;
}

.our-team .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.our-team .owl-carousel .owl-nav {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.our-team .owl-carousel .owl-dots {
  position: absolute;
  top: 96%;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-footer i {
  color: black;
  font-size: 18px;
}

.our-team .owl-carousel .owl-stage .owl-item .card .card-footer .fa-envelope,
.fa-facebook-f {
  margin-left: 19px;
}

.our-location {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #ffffff;
}

.our-location .row {
  justify-content: space-between;
}

.our-location .second {
  flex-direction: row-reverse;
}

.our-location .first {
  margin-top: 80px;
}

.our-location .row .img {
  max-width: 45%;
}

.our-location .row img {
  height: 50%;
}

.our-location .title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #4d4d4d;
}

.our-location .content {
  margin-top: 112px;
}

.our-location .first .right-content,
.our-location .second .left-content {
  align-items: center;
  max-width: 45%;
}

.our-location .row p {
  font-family: "Poppins";
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #4d4d4d;
}

.our-location .row h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #ff6e2e;
}

.contact-us {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.contact-us .row {
  justify-content: space-between;
}

.contact-us .row .title {
  position: relative;
}

.contact-us .row .title img {
  position: absolute;
  width: 18%;
}

.contact-us .left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 45%;
}

.contact-us .content p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #07090d;
}

.contact-us .social-ic i {
  color: #ff6e2e;
  font-size: 24px;
}

.contact-us .social-ic .fa-twitter,
.fa-linkedin,
.social-ic .fa-instagram {
  margin-left: 32px;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  justify-content: space-between;
}

.contact-us form .form-group .form-control {
  height: 60px;
  border: 1px solid #c8c8c8;
  border-radius: 15px;
}

.contact-us form h2 {
  margin-bottom: 26px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.contact-us form button {
  height: 60px;
  margin-top: 33px;
  background: #ff6e2e;
  border: 1px solid #ff6e2e;
  border-radius: 15px;
}

.contact-us form button:hover {
  background: #ff6e2e;
  border: 1px solid #ff6e2e;
}


@media screen and (max-width: 1200px) {
  .our-team .owl-carousel .owl-stage .owl-item .card .card-body {
    grid-template-rows: 50px 80px 190px;
  }
}

@media screen and (max-width: 992px) {

  .feature-work,
  .founder,
  .our-team,
  .our-location,
  .contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .founder .row .right h4 {
    font-size: 30px;
  }

  .founder .row .right h1 {
    font-size: 42px;
  }

  .founder .row .right .list-group li img {
    max-width: 13%;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body {
    grid-template-rows: 50px 80px 150px;
  }

  .our-location .first .right-content,
  .our-location .second .left-content,
  .our-location .row .img {
    max-width: 48%;
  }

  .our-location .row img {
    height: 60%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 347px;
  }

  .header ul {
    margin: 0;
  }

  .header ul a {
    font-weight: 500;
    color: #FF6E2E;
  }

  .header .list-inline-item:not(:last-child) {
    margin: 0;
    padding: 10px;
  }

  .site-menu {
    position: relative;
    display: flex;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }

  .site-menu h1 {
    z-index: 101;
  }

  .site-menu img {
    width: 75px;
    height: 28px;
  }

  .site-menu ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: 310px;
    padding-top: 40px;
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
    justify-content: center;
    background-color: #ffffff;
  }

  .site-menu .hamburger {
    display: block;
    z-index: 101;
    height: 100%;
  }

  .site-menu .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .site-menu .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .site-menu .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .site-menu ul.active {
    transform: translateY(0);
  }

  .who-were-are .left,
  .how-were-work .left {
    width: 100%;
  }

  .feature-work .card-group .card .card-body p {
    font-size: 24px;
  }

  .feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 450px;
  }

  .founder .row .right h4 {
    font-size: 20px;
  }

  .founder .row .right h1 {
    font-size: 32px;
  }

  .our-team .card-group .card .card-body h5 {
    font-size: 15px;
    line-height: 20px;
  }

  .our-team .card-group .card .card-body p {
    font-size: 14px;
    line-height: 22px;
  }

  .our-team .card-group .card p {
    font-size: 14px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body {
    grid-template-rows: 70px 80px 190px;
  }

  .our-team .owl-carousel .owl-nav {
    margin-top: 20px;
  }

  .our-team .owl-carousel .owl-nav img {
    width: 35px;
    height: 35px;
  }

  .our-location .first {
    margin-top: 20px;
  }

  .our-location .row p {
    font-size: 16px;
  }

  .our-location .row p {
    font-size: 14px;
  }

  .our-location .row h3 {
    font-size: 20px;
  }

  .our-location .row img {
    height: 75%;
  }

  .our-location .row .img {
    max-width: 100%;
  }

  .our-location .first .right-content,
  .our-location .second .left-content {
    height: 190px;
    max-width: 100%;
  }

  .our-location .second .left-content .col,
  .our-location .first .right-content .col {
    padding-right: 0;
  }

  .title h2 {
    font-size: 36px;
  }

  .contact-us .row {
    flex-direction: column;
  }

  .contact-us .row .left-content .content {
    margin-top: 20px;
  }

  .contact-us .left p {
    padding-top: 10px;
    font-size: 13px;
  }

  .contact-us form button {
    height: 50px;
    margin-top: 0;
  }

  .contact-us .social-ic {
    margin-top: 0;
  }

  .contact-us form .form-group .form-control {
    height: 50px;
  }

  .contact-us .row .left-content {
    max-width: 100%;
  }

  .contact-us form {
    margin-top: 40px;
    max-width: 100%;
  }

  .contact-us .social-ic i {
    font-size: 20px;
  }

  footer .row .content {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 0;
  }

  footer .row .content h4 {
    font-size: 20px;
  }

  footer .row .content p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {

  .about-us,
  .our-journey,
  .who-were-are,
  .how-were-work,
  .our-service,
  .feature-work,
  .founder,
  .our-team,
  .our-location,
  .contact-us,
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 400px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body {
    grid-template-rows: 50px 80px 160px;
  }

  .how-were-work::before {
    top: 31rem;
    left: 35%;
  }

  .founder .row .right {
    padding-left: 15px;
  }

  .t-right .background,
  .t-left .background {
    margin-top: 12px;
  }

  .t-left .t-content p,
  .t-right .t-content p {
    margin: 0;
    font-size: 13px;
  }

  .t-left .t-content {
    top: 10px;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .t-right .t-content {
    top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .time-line .t-circle::before,
  .time-line .t-circle::after {
    width: 16px;
    height: 16px;
  }

  .time-line .t-left::before,
  .time-line .t-right::before {
    top: 23px;
    width: 24px;
    height: 4px;
  }

  .time-line .t-left::after,
  .time-line .t-right::after {
    top: 21px;
    left: 24px;
    width: 8px;
    height: 8px;
  }

  .contact-us .row .left-content {
    padding-right: 15px;
  }

  footer .row .content h4 {
    font-size: 16px;
  }

  footer .row .content p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {

  .header .text h1 {
    font-size: 26px;
  }

  .who-were-are h3,
  .how-were-work .left h3,
  .about-us .title h1,
  .our-journey .title h1,
  .our-service .title h1,
  .title h2 {
    font-size: 30px;
  }

  .t-left .t-content p,
  .t-right .t-content p {
    font-size: 11px;
  }

  .founder .row .right h1 {
    font-size: 28px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body {
    grid-template-rows: 50px 80px auto;
  }

  .contact-us .left p {
    font-size: 12px;
  }

  .contact-us .social-ic {
    margin-top: 0;
  }

  .contact-us form button {
    margin-top: 15px;
  }

  .feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 300px;
  }

  .feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item p {
    font-size: 20px;
  }

  .feature-work .owl-carousel .owl-nav .owl-prev,
  .feature-work .owl-carousel .owl-nav .owl-next {
    top: 100%;
  }

  .feature-work .owl-carousel .owl-nav .owl-prev img,
  .feature-work .owl-carousel .owl-nav .owl-next img {
    width: 35px;
    height: 35px;
  }

  footer .row .content h4 {
    font-size: 12px;
  }

  footer .row .content p {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .site-menu {
    padding-top: 24px;
  }
  .about-us {
    padding-top: 82px;
    padding-bottom: 0;
  }

  .about-us .title h1 {
    margin-top: 10px;
  }

  .about-us .title p {
    margin-top: 0;
    font-size: 16px;
    padding: 0 4px;
    line-height: 19px;
  }

  .our-journey {
    padding-top: 37px;
    padding-bottom: 0;
  }

  .our-journey .title h1 {
    margin-top: 4px;
    font-size: 24px;
  }

  .who-were-are {
    padding-top: 26px;
    padding-bottom: 35px;
  }

  .who-were-are h3 {
    margin-top: 0;
  }

  .who-were-are h4 {
    padding-top: 4px;
  }

  .who-were-are .button,
  .how-were-work .button {
    top: 7px;
  }

  .how-were-work {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .how-were-work .row {
    margin-top: -39px;
  }

  .how-were-work .left h3 {
    margin-top: 3px;
  }

  .how-were-work .row .right {
    margin-top: 19px;
  }

  .who-were-are h3,
  .how-were-work .left h3,
  .about-us .title h1,
  .our-service .title h1,
  .title h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .header ul a{
    font-size: 16px;
  }

  .header .text h1 {
    padding: 0 5px;
    font-size: 20px;
    line-height: 24px;
  }

  .header .text p {
    margin-top: 1.5rem !important;
    padding: 0 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .about-us .title h2,
  .our-journey .title h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 33px;
  }

  .about-us img {
    margin-top: 21px !important;
    padding: 0 5px;
  }

  .about-us .title p br {
    display: block;
  }

  .our-journey .t-content h4 {
    width: 20px;
    margin-bottom: 0;
    padding-top: 6px;
    font-size: 14px;
    border-top: 3px solid #FF6E2E;
  }

  .our-journey .time-line {
    left: 53%;
    padding-bottom: 0;
  }

  .t-left,
  .t-right {
    top: -38px;
    width: 100%;
    left: -10px;
  }

  .t-left .t-content,
  .t-right .t-content {
    top: 6px;
    left: 30px;
  }

  .t-left .t-content p,
  .t-right .t-content p {
    padding: 2px 0px;
    font-size: 10px;
    line-height: 15px;
  }

  .time-line::after {
    width: 5px;
    height: 460px;
  }

  .time-line .t-left .background,
  .time-line .t-right .background {
    height: 70px;
  }

  .time-line .t-left .span,
  .time-line .t-right .span {
    height: 85px;
  }

  .time-line .t-circle::after {
    top: 93%
  }

  .time-line .t-circle::before,
  .time-line .t-circle::after {
    width: 16px;
    height: 16px;
  }

  .time-line .t-left::before,
  .time-line .t-right::before {
    top: 18px;
    width: 6px;
    height: 2px;
    left: 15px;
  }

  .time-line .t-left::after,
  .time-line .t-right::after {
    top: 17px;
    left: 23px;
    width: 4px;
    height: 4px;
  }

  .t-right .background,
  .t-left .background {
    margin-top: 12px;
  }

  .who-were-are .row .w-100 {
    margin-top: 26px;
  }

  .who-were-are .button img,
  .how-were-work .button img {
    width: 190px;
    height: 46px;
  }

  .who-were-are .button a {
    justify-content: normal;
  }

  .how-were-work .button a {
    justify-content: center;
  }

  .how-were-work .right img {
    margin-left: 5px;
    height: 99%;
  }

  .how-were-work .right .col {
    padding-left: 45px;
    justify-content: normal;
  }

  .who-were-are .button a img,
  .how-were-work .button a img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  .who-were-are .button span {
    margin-left: 12px;
  }
  .how-were-work .left h3 {
    margin-top: -4px;
    margin-bottom: 8px;
  }
  .how-were-work .left h4 {
    margin-bottom: 0 !important;
    line-height: 30px;
    font-size: 20px;
  }

  .how-were-work .left p {
    margin-top: 5px;
  }

  .who-were-are p,
  .how-were-work .left p,
  .who-were-are h4 {
    margin-bottom: 0 !important;
    line-height: 24px;
    font-size: 16px;
  }

  .who-were-are br {
    display: block;
  }

  .how-were-work .right p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .how-were-work .right h3 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;
  }

  .how-were-work .right .mt-2 {
    margin-top: 23px !important;
  }

  .how-were-work .right .span {
    margin-top: 17px !important;
  }

  .how-were-work::before {
    top: 22rem;
    left: 41%;
  }

  .our-service {
    padding-top: 35px;
    padding-bottom: 28px;
  }

  .our-service .w-100 {
    height: 228px;
    object-fit: cover;
  }

  .our-service .span {
    height: 205px;
    object-fit: cover;
  }


  .our-service .card-body {
    padding-top: 10px;
  }

  .our-service .card-subtitle {
    margin-bottom: 9px;
  }

  .our-service .card {
    margin-bottom: 0;
  }

  .our-service .title h1 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 24px;
  }

  .our-service .title p {
    font-size: 16px;
  }

  .our-service .card-group {
    margin-top: 32px;
  }

  .our-service .card-title {
    font-size: 18px;
  }

  .our-service .card-text {
    font-size: 12px;
  }
  .our-service .card-text img {
    width: 7px;
    height: 13px;
    margin-left: 15px;
  }

  .feature-work {
    padding-top: 0px;
  }

  .feature-work .owl-carousel .owl-item img {
    width: 150px;
  }

  .feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 225px;
  }

  .feature-work .owl-carousel .owl-nav .owl-prev img,
  .feature-work .owl-carousel .owl-nav .owl-next img {
    width: 24px;
    height: 24px;
  }
  
  .feature-work .owl-carousel {
    margin-top: 12px;
  }

  .feature-work .owl-carousel .owl-stage-outer .owl-stage .owl-item p {
    padding-bottom: 12px;
    padding-left: 11px;
    font-size: 14px;
    line-height: 21px;
  }

  .founder {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .founder .w-50 {
    height: 265px;
    padding-top: 22px;
    padding-left: 47px;
    padding-right: 47px;
  }

  .founder .row .right h4 {
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
  }

  .founder .row .right h1 {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 36px;
  }

  .founder .row .right p {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
  }

  .our-team {
    padding: 0;
  }

  .our-team .title h2 {
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 36px;
  }

  .our-team .title p {
    margin-top: 3px;
    font-size: 16px;
    line-height: 24px;
  }

  .our-team .owl-carousel {
    margin-top: 0;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card {
    width: 166px;
  }

  .our-team .owl-carousel .owl-item img {
    margin-top: 9px;
    width: 150px;
    height: 150px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body {
    padding-top: 0;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body .card-text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 21px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-body p {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
  }

  .our-team .owl-carousel .owl-stage .owl-item .card .card-footer i {
    margin-top: 14px;
  }

  .our-team .owl-carousel .owl-dots {
    top: 95%;
    left: 4px;
  }

  .our-team .owl-carousel .owl-nav {
    margin-top: 0;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel button.owl-dot {
    margin: 0 5px;
  }

  .our-team .owl-carousel .owl-nav img {
    width: 20px;
    height: 20px;
  }

  .our-team .owl-carousel .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }

  .our-location {
    padding-top: 38px;
    padding-bottom: 0;
  }

  .our-location .title h2 {
    margin-bottom: 0;
  }

  .our-location .title p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .our-location .row .img {
    height: 200px;
  }

  .our-location .second .img {
    margin-top: 15px;
  }

  .our-location .row img {
    height: 80%;
  }

  .our-location .first {
    margin-top: 24px;
  }

  .our-location .first h3 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .our-location .second h3 {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .our-location .first p {
    margin-top: -11px;
    font-size: 14px;
  }

  .our-location .second p {
    margin-top: -11px;
    font-size: 14px;
  }

  .our-location .first .right-content,
  .our-location .second .left-content {
    height: 130px;
  }


  .our-location .second .left-content .col,
  .our-location .first .right-content .col {
    height: 100%;
    padding-left: 7px;
  }

  .contact-us {
    padding-top: 40px;
    padding-bottom: 43px;
  }

  .contact-us .title h2 {
    margin-bottom: 0;
  }

  .contact-us .row .title img {
    width: 19%;
  }

  .contact-us .left p {
    font-size: 14px;
  }

  .contact-us .row .left-content .content {
    margin-top: 27px;
  }

  .contact-us .content p {
    margin-bottom: 0;
    padding-bottom: 16px;
    padding-left: 1px;
    padding-right: 3px;
    font-size: 14px;
    line-height: 21px;
  }

  .contact-us .social-ic i {
    font-size: 14px;
  }

  .contact-us .social-ic {
    margin-top: -14px;
    padding: 4px;
  }

  .contact-us .social-ic .fa-twitter,
  .fa-linkedin,
  .social-ic .fa-instagram {
    margin-left: 12px;
  }
  .contact-us form {
    margin-top: 34px;
  }

  .contact-us form h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .contact-us form .form-group .form-control {
    height: 44px;
  }

  .contact-us form button {
    margin-top: 0;
    height: 46px;
  }

  .contact-us .form-control {
    padding: 0.375rem 1.5rem;
  }
  
  footer .row {

  }

  footer .row .content {
    max-width: 63%;
    margin-left: 15px;
    padding-left: 12px;
  }

  footer .row img {
    max-width: 27%;
    padding-left: 5px;
  }

  footer .row .content h4 {
    margin-bottom: 0;
    line-height: 18px;
  }

  footer .row .content p {
    margin-top: 4px;
    line-height: 15px;
  }
}